@charset "utf-8";
.clear {
zoom: 1;
}
.clear:after {
content: "";
display: table;
clear: both;
}
body, button, input, select, textarea, fieldset, label {
font: 12px/1.5 tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;
color: #666;
}
/*====  背景 ====*/
	.filter li i,
	.g_search_ico span{background-image: url('/weixin/img/spr.png');background-repeat: no-repeat;}

	.container {
		overflow: hidden;
		margin-bottom: 30px;
		padding-bottom: 30px;
		border: 1px solid #DEDFE0;
		background: #fff;
	}
	.container:after{content:" ";display:table;clear:both;}
	.col1,.col2{float: left;height:100%;}
	.col1{padding-bottom:99999px;margin-bottom:-99999px;width:222px;border-right:1px solid #DEDFE0;background: #F2F2F0;}
	.col2{width:975px;}
/*===  时间 ===*/
	.date{margin-top: -10px;color: #999;font-size: 14px;font-family:"Microsoft YaHei", Verdana, Geneva, sans-serif;}
	.date_start{float: left;}
	.date_end{float: left;margin-left: 20px;}

	.alist p{width: 130px;margin-left: 29px;font-family:"Microsoft YaHei", Verdana, Geneva, sans-serif;font-size: 14px;margin-top: 10px;margin-bottom: 10px;}
/*====  商品库 ====*/
	.wrapper_goods .g_row1{background: #F4F5F9;}
	.wrapper_goods .g_row_box{background: #ffffff;border-bottom: 1px solid #DEDFE0;}

	.goods_box{overflow: hidden;position: relative;float: left;width: 439px;height: 78px;}
	.goods_box ul{position: absolute;padding-top: 9px;width: 864px;height: 44px;padding-left: 10px;}
	.goods_box li{position:relative;float: left;margin-right: 12px;}
	.goods_box img{display: block;width:58px;height:58px;border: 1px solid #DEDFE0;}
	.goods_items .goods_box_remove{display: none;}
	.goods_items:hover .goods_box_remove{display:block;position: absolute;right: 0px;top: 0px;width: 18px;height: 18px;line-height:16px;text-align:center;background:#E02428;color:#fff;z-index: 100;}
	.goods_box_remove:hover{text-decoration: none;}
	.goods_items:hover{border: 1px solid #E02428;}


    .load_more{
  			margin-top: 30px;
  			margin-left: 337px;
  			border: 1px solid #cccccc;
		width: 240px;
		height: 40px;
		margin-top: 26px;
		text-align: center;
		line-height: 36px;
		font-size: 14px;
		color: #666666;
		border-radius: 2px;
		background-color: #ffffff;
    }
    .load_more:hover{
    	background-color: #f2f2f0;
    }

/*====  分类组件 ====*/
	.g_cat_list li{float:left;height:30px;line-height:30px;list-style-type:none}
	.g_cat_detail{float: left; width:550px;margin-top: 77px;}
	.g_cat_list{height:30px;}
	.g_cat_list a{display: block;margin:0 8px;padding:0 5px;text-align: center;color:#999;font-size: 14px; text-decoration: none;font-family:"Microsoft YaHei", Verdana, Geneva, sans-serif;}
	.g_cat_list a:hover{text-decoration:underline;}
	.g_cat_list li .on{color:#E02428;}

/*====  搜索 ====*/
	.g_search{position:relative;margin-top:35px;width:288px;height:30px;border:1px solid #E7E7EB;}
	.g_search_txt{float:left;height:28px;line-height: 30px;}
	.g_search_txt{width:248px;background: #fff;color:#000;text-indent: 10px;border:none;}
	.g_search_btn{position: absolute;width: 40px;height: 30px;opacity: 0;filter:alpha(opacity=0);z-index: 100;}
	.g_search_ico{position: absolute;width:40px;height:30px;right: 0;top: 0;cursor: pointer;z-index: 99;}
	.g_search_ico span{position: absolute;left:50%;top:50%;margin:-10px 0 0 -10px;width: 20px;height: 20px;background-position: -93px -70px;}
/*====  筛选条件 ====*/
	.g_content_filter{float: left; width: 288px;margin-top: 10px;}
	.g_filter{margin-top: 10px;height: 31px;}
/*====  过滤 ====*/
	.filter{float:left;padding:19px 0;overflow: hidden;}
	.filter li{position:relative;float: left;margin-right: 9px;width: 79px;height: 30px;line-height: 30px;text-indent: 17px;background: #fff;border: 1px solid #E7E7EB;}
	.filter li:hover{cursor: pointer;}
	.filter .on{color:#E02428;}
	
	.filter li i{position: absolute;right:15px;top:50%;margin-top:-5px;width:17px;height:10px;}
	/*====  佣金排序 ====*/
		#J_filterCommission i{background-position: -110px 0;}
		#J_filterCommission.on i{background-position: -150px 0;}
		#J_filterCommission .dm_mod_filter_arrow_down{background-position: -90px 0;}
		#J_filterCommission.on .dm_mod_filter_arrow_down{background-position: -130px 0;}
		#J_filterSales i{background-position: -90px 0;}
		#J_filterSales.on i{background-position: -130px 0;}

/*====  商品库列表 ====*/
	.goods_item,.goods_item_col2,.goods_item_row{overflow: hidden;position: relative;}
	.goods_item:after,.goods_item_col2:after,.goods_item_row:after{content:" ";display: table;clear:both;}
	.goods_item_col1,
	.goods_item_col2,
	.goods_item_img,
	.goods_item_info,
	.goods_item_tit{float: left;}
	.goods_item_commission{float: right;}
	.goods_item_col1{width:50px;text-align: center;}
	.goods_item_row{position:relative;margin-bottom: 5px;}
	.goods_item_img img{vertical-align: middle;width:160px;height:160px;}
	.great_item_img img{vertical-align: middle;width:600px;height:170px;}

	.pop_shop_info_form{
		background-color: white;
		font-size: 14px;
	}
	.pop_shop_info_form .info_form{
		margin-left: 40px;
	}

	.pop_shop_info_form .info_form .info{
		padding-top: 10px;
		padding-bottom: 10px;
		text-align: right;
	}
	.pop_shop_info_form .info_form .info_picture{
		padding-top: 10px;
		padding-bottom: 10px;
		text-align: right;
	}
	.pop_shop_info_form input{
		width: 430px;
		height: 30px;
		border: 1px solid #cccccc;
	}
	.g_pop_ft .g_pop_cancel{
		background-color: white;
		color:black;
		border: 1px solid #cccccc;
	}
	.g_pop_hd h4 {
		float: left;
		color: #666;
		font-size: 16px;
		font-weight: normal;
	}
	.pop_shop_info_form .info_form .pop_shop_info_form_txt{
		
		padding-left: 30px;
		color: #f83d41;
		font-size: 14px;
	}
	.pop_shop_info_form .info_form .pop_shop_info_form_txt .red_triangler img{
		padding-right: 10px;
		 vertical-align: bottom;

	}
/*====  列表 ====*/
	.list{margin:0 29px 0 29px;border:1px solid #E7E7EB;width:1700px;}

	/*====  列表布局 ====*/
		.list_col,.list_item_img,.list_item_info{float: left;}
		.list_col_pro{overflow:hidden;width:400px;height: 50px;border-right:2px solid #E7E7EB;}
		.list_col_name{width:300px;height: 50px;border-right:2px solid #E7E7EB;}
		.list_col_num{width:300px;height: 50px;border-right:2px solid #E7E7EB;}
		.list_col_date{width:300px;height: 50px;border-right:2px solid #E7E7EB;}
		.list_col_read{width:200px;height: 50px;border-right:2px solid #E7E7EB;}
		.list_col_good{width:190px;height: 50px;}




	/*====  列表头部 ====*/
		.list_hd {height:50px;border-bottom:1px solid #E7E7EB;background: #F4F5F9;color:#333;width:1700px;}
		.list_hd .list_col_check{height:50px;}
		.list_hd p{font-size: 14px;font-family:"Microsoft YaHei", Verdana, Geneva, sans-serif; text-align: center;}
		#J_filterDate.on .dm_mod_filter_arrow_down {background-position: -146px 3px}
		#J_filterRead.on .dm_mod_filter_arrow_down {background-position: -146px 3px}
		#J_filterGoods.on .dm_mod_filter_arrow_down {background-position: -146px 3px}
	/*====  商品 ====*/
		.list_item{background: #fff;text-align: left;border-bottom: 1px solid #E7E7EB;}
			.list_item_img{margin-right:20px;}
			.list_item_img img{vertical-align: middle;width:88px;height:88px;border:1px solid #E7E7EB;}
			
			.list_item_act a{float: left;position:relative;margin-right:9px;padding-left:40px;padding-right:6px;height:28px;line-height: 28px;font-size:14px;color:#333;background:#F2F2F0;border:1px solid #E7E7EB;border-radius:2px;white-space: nowrap;}
			.list_item_act a:hover{text-decoration: none;}
			.list_item_act a i{position: absolute;left:10px;top:50%;margin-top:-11px;width:20px;height:20px;}
			.list_item_act .share i{background-position: -59px -20px;}
			.list_item_act .agent i{background-position: -80px -20px;}
			.list_item_act .myproxy_delete i{background-position: -100px -20px;}
			.list_item_act .shopInHome i,
			.list_item_act .bar_home i{background-position: -120px -20px;}


.g_row {padding: 0 29px;width: 351px;float: left;}
.list_info2{height: 50px;font-size: 14px;}
.list_col_pro a{height: 50px;font-size: 14px;text-align: left; cursor: pointer;text-decoration: none;color: #333;font-family:"Microsoft YaHei", Verdana, Geneva, sans-serif; }
.list_col_name a,
.list_col_num a{height: 50px;font-size: 14px;line-height: 44px;cursor: pointer;text-decoration: none;color: #333;font-family:"Microsoft YaHei", Verdana, Geneva, sans-serif; }
.list_col_pro a:visited,
.list_col_name a:visited,
.list_col_num a:visited{background-color:yellow;}
.list_col_num a:active{background-color:yellow;}
.list_col_pro a:active{background-color:yellow;}
.list_col_name a:active{background-color:yellow;}


.list_hd p i{
	position: absolute;
	width: 22px;
	height: 17px;
	background-position: -88px 8px;
	cursor: pointer;
}
.list_hd p i:hover{cursor: pointer;}
.list_hd i{background-image: url('/weixin/img/spr.png');background-repeat: no-repeat;}

/*公众号*/
.numlist{margin:0 29px 0 29px;border:1px solid #E7E7EB;font-family:"Microsoft YaHei", Verdana, Geneva, sans-serif;font-size: 14px;}
.list_col_info{height: 50px;}
.list_col_pic{float: left; width: 30%}
.list_item_num{background: #fff;text-align: center;border-bottom: 1px solid #E7E7EB;cursor: pointer;}
.list_line_info{width: 70%;float: left;}
.list_info_account{width: 200px;float: left;text-align: right;background: #fff;}
.list_info_content{width: 500px;float: left;background: #fff;text-align: left;}
.list_pro{overflow:hidden;height: 50px;}
.list_name{height: 30px;}
.list_num{height: 30px;}
.list_infos{height: 66px;overflow: hidden;}

/*分页*/
.page{margin:2em;}
.page a{text-decoration:none;display:inline-block;line-height:14px;padding:2px 5px;color:#333;border:1px solid #ccc;margin:0 2px;}
.page a:hover,.page a.on{background:#999;color:#fff;border:1px solid #333;}
.page a.unclick,.page a.unclick:hover{background:none;border:1px solid #eee;color:#999;cursor:default;}
