@charset "utf-8";

/*====  背景 ====*/
	.g_bar_ico,
	.g_shop_btn i,
	.g_sidebar_ico,
	.action a i,
	.list_item_act a i,
	.list_check_box,
	.backtop i{background-image: url('http://static.paipaiimg.com/fd/paipai/cps/img/spr.png?t=20150204');background-repeat: no-repeat;}
	.g_pop_ico,
	.money_ico{background-image: url('http://static.paipaiimg.com/fd/paipai/cps/img/ico.png?t=20150204');background-repeat: no-repeat;}

/*====  全局提示 ====*/
	.global-loading{margin:10px auto 0;width:250px;background-size: 16px 16px;}
	.g_pop,.g_pop_bg{position: fixed;left:0;top:0;right:0;bottom:0;width:100%;height:100%;z-index: 100;}
		.g_pop_bg{background: #000;opacity: 0.25;filter:alpha(opacity=25);}
		.g_pop a:hover{text-decoration: none;}
		.g_pop_main{position: absolute;top:45px;left:50%;margin-left:-450px;width:900px;background: #F2F2F0;z-index: 101;}
			.g_pop_hd{position:relative;padding:0 20px 0 30px;height:55px;line-height: 55px;}
				.g_pop_hd h5{float:left;color:#666;font-size: 16px;font-weight: normal;}
				.g_pop_hd a{float: right;color:#A0A0A0;font-size: 22px;}
			.g_pop_bd{padding-top:30px;height:225px;background: #fff;}
			.g_pop_content{position:relative;padding-top:130px;text-align: center;color:#666;line-height: 2em;}
				.g_pop_ico{position: absolute;top:0;left:50%;margin-left:-50px;width:100px;height:100px;}
				.g_pop_ico_success{background-position: 0 -100px;}
				.g_pop_ico_fail{background-position: 0 0;}
				.g_pop_tit{font-size: 14px;}
			.g_pop_ercode{display: block;margin:-130px auto 0;width:200px;height:200px;border:1px solid #E7E7EB;}
			.g_pop_ft,.g_pop_ft_edit{padding:10px 0;text-align: center;}
			.g_pop_ft a,
			.g_pop_ft_edit a{display: inline-block;margin:0 10px;width:114px;height:38px;line-height: 38px;text-align: center;font-size:14px;color:#fff;background: #E12428;border:1px solid #E12428;border-radius: 2px;letter-spacing: 2px;}
			.g_pop_ft .g_pop_back,
			.g_pop_ft_edit .g_pop_back{background: #fff;border:1px solid #DEDFE0;color:#000;}
			.g_pop_ft .g_pop_disabled{background: #999;border-color:#999;cursor: default;}
	.dm_mod_tips{padding:10px 0 0 20px;}

	/*====  CPS协议 ====*/
		.reg .g_pop_content{overflow:hidden;margin-top:-10px;padding:0 20px;height:195px;}
		.reg .g_pop_content p{text-indent: 2em;text-align: left;font-size: 14px;color:#999;}
		.reg .g_pop_deal{font-size: 14px;text-align: center;}
		.reg .g_pop_deal input{vertical-align: middle;}

	/*====  预览店铺 ====*/
		.preview .g_pop_ercode{width:180px;height:180px;}

	/*====  批量转发 ====*/
		.batchshare .g_pop_bd{height:360px;}
		.batchshare .g_pop_ercode{width:180px;height:180px;}
		.g_pop_edit{position:relative;margin: 30px auto;padding: 30px 0 20px 110px;width:770px;border-top:1px solid #E7E7EB;}
		.g_pop_edit_img{position: absolute;left:0;top:30px;border:1px solid #DEDFE0;}
		.g_pop_edit_img img{vertical-align: middle;width:88px;height:88px;}
		.g_pop_edit_tit{overflow:hidden;margin-bottom:8px;width:20em;color:#000;font-weight: bold;font-size: 14px;white-space: nowrap;text-overflow:ellipsis;}
		.g_pop_edit_desc{overflow:hidden;width:555px;height:44px;line-height:1.2em;color:#999;}
		.g_pop_edit_btn{position: absolute;right:0;top:30px;width:80px;height:28px;line-height: 28px;text-align: center;color:#666;background: #F2F2F0;border:1px solid #ccc;border-radius:2px;}
		.g_pop_ft_edit,.g_pop_edit_input,.g_pop_edit_frm,.g_pop_tpl{display: none;}

		/*====  批量转发编辑态 ====*/
			.batchshare_edit .g_pop_bd{padding-top:0;height:150px;}
			.batchshare_edit .g_pop_edit{border-top:none;}
			.batchshare_edit .g_pop_content,
			.batchshare_edit .g_pop_edit_btn,
			.batchshare_edit .g_pop_ft,
			.batchshare_edit .g_pop_edit_desc,
			.batchshare_edit .g_pop_edit_tit{display: none;}
			.batchshare_edit .g_pop_edit_input,
			.batchshare_edit .g_pop_ft_edit,
			.batchshare_edit .g_pop_tpl{display: block;}
			.batchshare_edit .g_pop_edit_input{margin-bottom: 10px;padding:5px;width:100%;box-sizing:border-box;}
			
			.batchshare_edit .g_pop_edit_frm{display:block;padding:5px;width:545px;height:50px;border:1px solid #E7E7EB;outline:none;resize:none;width:100%;box-sizing:border-box;}

		/*====  自定义转发 ====*/

			.batchshare_custom .g_pop_bd{height:350px;}
			.g_pop_tpl{padding-top: 30px;}
			.g_pop_tpl p{margin-bottom:10px;font-size: 14px;font-weight:bold;color:#000;}
			.g_pop_tpl_item{float: left;margin-right:20px;width:90px;text-align: center;}
			.g_pop_tpl_img{display: block;margin:0 auto 10px;width:88px;height:88px;border:1px solid #DEDFE0;}

/*====  店铺信息 ====*/
	.g_shop{margin:0 auto;padding-top: 30px;width:210px;}
	.g_shop_img{margin:0 auto 20px;width:75px;}
	.g_shop_img img{vertical-align:middle;width:75px;height:75px;border-radius:100%;}
	.g_shop_row{margin-bottom: 20px;}
	.g_shop_tit{font:bold 14px arial;color:#E02428;text-align: center;}
	.g_shop_desc{overflow:hidden;height:35px;color:#999;}
	.g_shop_btn{position:relative;width:95px;height:35px;line-height:35px;border:2px solid #DCDCDC;color:#999;background:#F2F2F0;border-radius:50px;text-indent: 38px;}
	.g_shop_btn:hover{text-decoration: none;background: #fff;}
	.g_shop_btn i{position: absolute;left:12px;top:50%;margin-top:-10px;width:25px;height:20px;}
	.g_shop_btn_edit{float: left;}
	.g_shop_btn_edit i{background-position: -40px 0;}
	.g_shop_btn_view{float: right;}
	.g_shop_btn_view i{background-position: -65px 0;}

/*====  侧边栏 ====*/
	.g_sidebar{position: relative;overflow: hidden;margin:0 -1px;border-top: 1px solid #E8E8E8;}
	.g_sidebar a{display: block;position:relative;margin-top:-1px;padding-left:50px;height:60px;line-height: 60px;color:#333;border-top:1px solid #E8E8E8;border-bottom:1px solid #E8E8E8;}
	.g_sidebar a:hover{text-decoration: none;color:#E02428;}
	.g_sidebar a.on{background: #E02428;border-color: #E02428;color:#fff;}
	.g_sidebar_ico{position: absolute;left:15px;top:50%;margin-top:-15px;width:30px;height:30px;}
	.g_sidebar_ico_index{background-position: 0 -40px;}
	.g_sidebar_ico_sales{background-position: 0 -70px;}
	.g_sidebar_ico_money{background-position: 0 -100px;}
	.g_sidebar .on .g_sidebar_ico{background-position-x:-30px; }

/*====  操作 ====*/
	.action{float:right;text-align:center;padding:19px 0;}
	.action li{float: left;margin-left:9px;height:40px;line-height:40px;}
	.action_num{color:#000;}
	.action_num em{display:inline-block;margin:0 3px;}
	.action a{display: block;position:relative;width:103px;height:40px;line-height:40px;text-indent: 35px;background:#E02428;color:#fff;border-radius: 2px;}
	.action .action_disabled {cursor: default;background: #ccc;}
	.action a:hover{text-decoration: none;background: #9C191C;}
	.action .action_disabled:hover {background: #ccc;}
	.action a i{position: absolute;width:20px;height:20px;left:16px;top:50%;margin-top: -10px;}
	.action_share i{background-position: -60px -40px;}
	.action_agent i{background-position: -80px -40px;}
	.action_delete i{background-position: -100px -40px;}
	.action_index i{background-position: -120px -40px;}

/*==== tab选项卡 ====*/
	.tab{border-bottom: 1px solid #DEDFE0;}
	.tab li{float: left;display:inline;}
	.tab li a{display: block;position:relative;bottom:-1px;padding:20px 0;width:105px;font-size:14px;text-align: center;color:#000;}
	.tab li a:hover{text-decoration: none;border-bottom: 3px solid #A0A3AB;}
	.tab li .on,.tab li .on:hover{border-bottom: 3px solid #E02428;}
	.tab li .on:hover{cursor: default;color:#000;}

/*====  列表 ====*/

	/*====  列表布局 ====*/
		.list_col,.list_item_img,.list_item_info{float: left;}
		.list_col_check{width: 50px;height:50px;text-align: center;}
		.list_check_box{display: inline-block;margin-top:-2px;width: 16px;height: 16px;vertical-align: middle;background-position: -150px -20px;}
		.list_col_checked .list_check_box{background-position: -150px -46px;}
		.list_col_check input{position: absolute;left:-9999px;}
		.list_col_pro{overflow:hidden;width:565px;}
		.list_col_price{width:100px;}
		.list_col_act{width:200px;}

	/*====  列表头部 ====*/
		.list_hd {height:42px;border-bottom:1px solid #E7E7EB;background: #F4F5F9;color:#333;}
		.list_hd p{font-size: 14px;}
		.list_hd .list_col_check{height:42px;}
	/*====  商品 ====*/
		.list_item{background: #fff;border-bottom: 1px solid #E7E7EB;}
			.list_item_img{margin-right:20px;}
			.list_item_img img{vertical-align: middle;width:88px;height:88px;border:1px solid #E7E7EB;}
			.list_item_info{width:435px;}
			.list_item_tit{overflow:hidden;white-space: nowrap;text-overflow:ellipsis;color:#000;font-size: 14px;font-weight: normal;}
			
			.list_item_price,
			.list_item_num,
			.list_item_hire{font-family: arial;color:#666;}
			.list_item_hire{font-size: 14px;}
			.list_item_price i,
			.list_item_hire i{margin-right:3px;color:#999;}
			.list_item_price em,
			.list_item_hire em{color:#e02428;font-weight: bold;}

			.list_item_act a{float: left;position:relative;margin-right:9px;padding-left:40px;padding-right:6px;height:28px;line-height: 28px;font-size:14px;color:#333;background:#F2F2F0;border:1px solid #E7E7EB;border-radius:2px;white-space: nowrap;}
			.list_item_act a:hover{text-decoration: none;}
			.list_item_act a i{position: absolute;left:10px;top:50%;margin-top:-11px;width:20px;height:20px;}
			.list_item_act .share i{background-position: -59px -20px;}
			.list_item_act .agent i{background-position: -80px -20px;}
			.list_item_act .myproxy_delete i{background-position: -100px -20px;}
			.list_item_act .shopInHome i,
			.list_item_act .bar_home i{background-position: -120px -20px;}


/*====  布局 ====*/
	
	/*====  重置样式 ====*/
		body{background: #f1f1f1;}
		.grid_c1{width:1200px;}

	/*====  公共头部 ====*/
		.g_bar{overflow: hidden;width:100%;min-width:1210px;margin-bottom: 30px;height:64px;line-height: 64px;background: #E12428;}
		.g_bar a:hover{text-decoration: none;}
		.g_bar_tit{float: left;position: relative;padding-left: 45px;font-size: 25px;font-weight: normal;}
		.g_bar_tit a{color:#fff;}
		.g_bar_ico{position: absolute;width: 40px;height: 40px;left: 0;top: 50%;margin-top: -20px;background-position: 0 0;}

		.g_bar_nav{float: right;overflow: hidden;}
		.g_bar_nav li{float: left;}
		.g_bar_nav li a{display: block;padding:0 10px;font-size:14px;color:#F1AAA8;transition:all .2s ease-in-out;}
		.g_bar_nav li a:hover{color:#fff;background: #9C191C;}
		.g_bar_user p{font-size:14px;color:#fff;}
		.g_bar_nav .g_bar_user_out{margin-right: 10px;}
		.g_bar_nav .g_bar_user_out a{text-decoration: underline;}
		.g_bar_nav .g_bar_user_out a:hover{text-decoration: none;color:#fff;background: none;}

	/*====  容器布局 ====*/
		.container{overflow:hidden;margin-bottom:30px;padding-bottom:30px;border:1px solid #DEDFE0;background: #fff;}
		.container:after{content:" ";display:table;clear:both;}
		.col1,.col2{float: left;height:100%;}
		.col1{padding-bottom:99999px;margin-bottom:-99999px;width:222px;border-right:1px solid #DEDFE0;background: #F2F2F0;}
		.col2{width:975px;}

	/*====  分类组件 ====*/
		.g_row{padding:0 29px;}

	/*====  回到顶部 ====*/
		.backtop{position: fixed;right: 20px;bottom:20px;width:48px;height:48px;border:1px solid #DCDCDC;background-color:#fff;text-indent: -9999px;transition:all .2s ease-in-out;}
		.backtop i{position: absolute;width:28px;height:16px;left:50%;top:50%;margin:-8px 0 0 -14px;background-position:-65px -70px;}
		.backtop:hover{background-color: #E5E5E5;}

/*====  我的佣金 ====*/
	.money{position:relative;margin:0 auto;padding-top: 180px;text-align: center;}
	.money h4{margin-bottom:29px;font-weight:normal;font-size:14px;color:#333;}
	.money p{margin-bottom:29px;color:#666;}
	.money_ico{position: absolute;width:100px;height:100px;top:50px;left:50%;margin-left: -50px;background-position: 0 -200px;}
	.money_ercode_img{display: block;margin:0 auto;width:180px;height:180px;}

/*====  登录页面 ====*/

	/*====  布局 ====*/
		.login{margin:0 auto;width:1200px;}
		.login_col1{float: left;width:760px;}
		.login_col2{float: right;width:420px;}

	/*====  分销介绍 ====*/
		.intro_img{vertical-align: middle;width:759px;height:438px;}

	/*====  登陆框 ====*/
		.login_box{height:438px;background: #fff;}