.header {
    background-color: #ffd52b;
    height: 82px;
}

.content-block {
    width: 960px;
    margin: 0 auto;
}

.logo {
    float: left;
    margin-top: 3px;
}

.menu {
    float: left;
    margin: 0 30px
}

.menu a {
    border-bottom: 4px solid #ffd52b;
    height: 78px;
    line-height: 82px;
    float: left;
    display: block;
    text-align: center;
    font-size: 16.5px;
    color: #7a4624;
    margin-right: 1px;
    padding: 0 14px;
}

.menu a:hover{
    background-color: #ffe36f;
    border-bottom-color: #ffe36f;
}

.menu .highlight {
    background-color: #ffe36f;
    border-bottom-color: #7a4624;
}


.user-bar{float:right}
.logout a{
    float:left;
    line-height: 82px;height:82px;
    text-align: right;
    color:#333;
    font-size: 14px;
}