body {
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei", Arial, "Hiragino Sans GB";
}

body a {
    color: #9b8878;
    text-decoration: none;
}

.clear {
    display: block;
}

.clear:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}